# name: "CI"

# on:
#   push:
#     branches: ["main"]

# jobs:
#   setup-root:
#     runs-on: "ubuntu-latest"
#     strategy:
#       matrix:
#        include:
#          - name: "add"
#     steps:
#       - uses: actions/checkout@v1
#       - uses: actions/setup-node@v2
#         with:
#           node-version: "14"
#           cache: "npm"

#       - name: "Install root dependencies"
#         run: "npm install"

#       - uses: "./.github/workflows/service.yml"
#         with:
#           name: ${{ matrix.name }}
