name: "CI"

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v2
        with:
          node-version: "14"
          cache: "npm"

      - name: "Install root dependencies"
        run: "npm install"

      - uses: "./.github/workflows/service"
        with:
          name: "add"
