name: "subtract"

on:
  push:
    paths:
      - "services/subtract/**"
      - ".github/workflows/subtract.yaml"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: WORK WORK
        run: |-
          cd services/subtract
          npm ci
          npm test
