name: "subtract"

on:
  push:
    paths:
      - "services/subtract/**"
      - ".github/workflows/subtract.yml"

defaults:
  run:
    working-directory: "services/subtract"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Install root dependencies
        working-directory: "services/subtract"
        run: npm ci

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test
